
#lessons,
#steps,
#info{
  text-align: center;
  margin-top: 70px;
}

#info,
#steps{
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  max-height: 160px;
  object-fit: contain;
  text-align: center;
  height: 200px;
  margin: 15px;
}

h1{
  padding-top:0;
  padding-bottom: 20px;
}
h3{
  font-size: 20px;
  padding: 10px;
}

.container p{
  padding: 10px;
}

#info img{
  background-color: #00B7AB;
  border-radius: 50%;
  height: 100px;

}

@media screen and (max-width: 768px){
  [class*="col-xs-"] p{
    font-size: 23px;
  }
  h3{
    font-size: 25px;
  }
  #info img{
    height: 70px;
  }
  .xs_height_70{
    height: 70px;
  }
}

@media screen and (min-width: 768px)
and (max-width: 992px){
  [class*="col-md-"] p{
    font-size: 20px;
  }
  #info img{
    height: 100px;
  }

  .container{
    background-color: lightyellow;
  }
  h3{
    font-size: 25px;
  }
}
