#lessons,
#steps,
#info{
  text-align: center;
  margin-top: 70px;
}

#info,
#steps{
  background-color: #f9f9f9;
}

#info img{
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  background-color: #00B7AB;
}

img {
  max-height: 160px;
  max-width: 100%;
  margin: 15px;
  text-align: center;
  object-fit: contain;
}

h1{
  padding-top:0;
  padding-bottom: 20px;
}

h3{
  font-size: 20px;
  padding: 10px;
}

.container p{
  padding: 10px;
}

/* Media Query */
@media screen and (max-width: 768px){

  [class*="col-xs-"] p{
    font-size: 23px;
  }

  h3{
    font-size: 25px;
  }

  #info img{
    height: 70px;
  }

  .xs_height_70{
    height: 70px;
  }
}

@media screen and (min-width: 768px)
and (max-width: 992px){

  [class*="col-md-"] p{
    font-size: 20px;
  }

  #info img{
    height: 100px;
  }

  .container{
    background-color: lightyellow;
  }

  h3{
    font-size: 25px;
  }
}

@media screen and (min-width: 992px){

  hr{
    display: none;
  }
}
